.scroll_to_top {
  padding: 1rem;
  background-color: $green-dark;
  border-radius: 50%;
  color: $pale;
}

.home-banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image:   linear-gradient(180deg, rgba(1,36,0,1) 0%, rgba(9,121,32,0.49205619747899154) 47%, #D5D6AA 100%),
                      asset_url("table_banner.jpg");
  background-size: cover;
  background-position: center;

  color: $white;

  text-align: center;

  &--logo {
    margin-top: 4%;

    &__img {
      display: block;
    }

    &__title {
      display: block;
      font-size: 4rem;
      font-family: $headers-font;
    }
  }

  &--content {
    margin-bottom: 5%;
  }

}
.home-feature-1 {
  padding: 2vh 0 12vh 0;
  background-image:   linear-gradient(180deg, $pale 47%, $white 100%);

  h2,
  h3 {
    color: $green-dark
  }

  p {
    color: $gray;
  }

  &--content {
    padding: 3rem;

    h2 {
      margin-bottom: 2rem;
    }
  }

}

.home-feature-2 {
  background-color: $white;

  h2,
  h3 {
    color: $green-dark
  }

  img {
    text-align: center;
  }

  &--content {
    padding: 3rem;

    h2 {
      margin-bottom: 2rem;
    }
  }

}

.home-feature-3 {
  padding: 5vh 0;
  background-color: $white;

  h2,
  h3 {
    color: $green-dark
  }

  img {
    width: 70%;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }

  &--content {
    padding: 3rem;

    h2 {
      margin-bottom: 2rem;
    }
  }

}


.home-feature-4 {
  padding: 5vh 0;
  background-color: $white;

  h2,
  h3 {
    color: $green-dark
  }

  img {
    width: 70%;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }

  &--content {
    padding: 3rem;

    h2 {
      margin-bottom: 2rem;
    }
  }

}


.home-team {
  padding: 8vh 0;
  background-color: $green-dark;
  text-align: center;
  color: $pale;
  margin-top: 5vh;

  h2 {
    margin-bottom: 3rem;
  }

  &--container {
    img {
      width: 120px;
      border-radius: 50%;
      border: 5px solid $pale;
      margin-bottom: 1.5rem;
    }
  }
}

#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;

  img {
    width: 25px;
  }
}
