.header {
  margin: 1.5rem 0;
  text-align: center;

  h1 {
    color: $green-dark;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .preferences {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;

    &--text {
      font-size: 1rem;
      color: $gray;
      margin-bottom: 0.5rem;
    }

    .filter {
      display: inline-block;
      padding: 0.5em 0.8em;
      background-color: $white;
      border: 1px solid $tangerine;
      border-radius: $border-radius;
      color: $tangerine;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      margin-right: 0.4rem ;

      &:hover {
        box-shadow: 1px 2px 9px rgba(black, 0.13);
      }
    }

    .active {
      background-color: $tangerine;
      color: $white;
    }

  }

}


.plan-randomizer {
  width: 100%;
  margin-top: 1rem;

  .day {
    padding: 1rem;
    border: 2px dashed $fire;
    border-radius: $border-radius;
    margin-bottom: 0.5rem;

    .day-name {
      text-align: center;
      color: $fire;
    }

    &-action {
      text-align: center;

      i {
        margin-right: 8px;
      }

      .unlock {
        background-color: $fire;
        color: $white;
      }

      .lock {
        display: none;
      }
    }

    &.locked {
      border: 2px solid $green-dark;

      .day-name {
        color: $green-dark;
      }

      .unlock {
        display: none;
      }

      .lock {
        display: inline-block;
        background-color: $green-dark;
        color: $white;
      }
    }
  }
}

.content-randomizer {
  margin: 2rem 0;
  text-align: center;

  .randomizer--text {
    font-family: $headers-font;
    color: $green-dark;
    font-size: 1.4rem;
  }

  .block--text {
    color: $gray;
    font-size: 1rem;
  }

  .btnrand {
    box-shadow: 1px 2px 9px rgba(black, 0.13);

    i {
      margin-right: 8px;
    }
  }
}
