.btn {
  &,
  &:link,
  &:visited {
        text-transform: uppercase;
        text-decoration: none;
        text-shadow: none;
        padding: 0.5rem 2.5rem;
        display: inline-block;
        border-radius: $border-radius;
        transition: all .2s;
        font-weight: 700;
    }

    &:hover {
        transform: translateY(-3px);

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
      }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: none;
    }

  &--primary {
    background-color: $tangerine;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &--small {
    padding: 0.4rem 1.8rem;
    font-size: 1rem;
  }
}
