// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "banner";
@import "card";

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }
  
  // Smallest device
  @media (min-width: 100px) and (max-width: 575px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
  
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

// BODY : Menu de la semaine

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

// Buttons du BODY

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA; /* Blue */}

// .button3 {background-color: #f44336;} /* Red */ 
// .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
// .button5 {background-color: #555555;} /* Black */
