<div class="wrapper plan-wrap" data-controller="week" data-action="keyup@window->week#keyUp">

  <!-- Header -->
  <div class="header">
    <h1>Mes recettes de la semaine</h1>
  </div>
    <!-- Filtres des menus -->
      <div class="menu">
        <div class="preferences">
          <p class="preferences--text">Mes préférences pour cuisiner :</p>
          <div class="preferences--button btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <span class="filter" data-week-target="filter" data-filter="vegetarien" data-action="click->week#toggleActive">Végétarien</span>
            <span class="filter" data-week-target="filter" data-filter="vegan" data-action="click->week#toggleActive">Vegan</span>
            <span class="filter" data-week-target="filter" data-filter="sans gluten" data-action="click->week#toggleActive">Sans gluten</span>
            <span class="filter" data-week-target="filter" data-filter="thermomix" data-action="click->week#toggleActive">Thermomix</span>
          </div>
      </div>



      </div>



    <!-- Menu de la semaine -->
    <div class="plan-randomizer">
      <div class="row">
        <% days = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi'] %>
        <% @recipes.each_with_index do |recipe, index| %>
          <div class="col-12 col-md" data-controller="counter">
            <!-- Card des jours de la semaine -->
            <div class="day unlocked" data-controller="day" data-day-target="day" data-week-target="day" data-day-recipe-id-value="<%= recipe.id %>">
                <h3 class="day-name"><%= days[index] %></h3>
                <%= render 'shared/card', recipe: recipe %>
                <!-- Lock de la recette -->
                <div class="day-action" data-action="click->day#toggleLock click->week#toggleExport click->week#remainingRecipesToUnlock">
                  <span class="btn btn--small unlock"><i class="fas fa-unlock"></i>Je bloque</span>
                  <span class="btn btn--small lock"><i class="fas fa-lock"></i>Bloqué</span>
                </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>


    <!-- Les boutons -->
    <div class="content-randomizer">
       <!-- Bouton Export -->
        <div class="wicked_pdf d-none" data-week-target="export2">

            <%= link_to export_plans_path(@recipes, :format => :pdf), class: "btn btn--primary btnrand" do %>
              <i class="fas fa-download"></i> Export
            <% end %>

        </div>
        <div data-week-target="export1">
          <p class="randomizer--text">Les recettes ne te plaisent pas ? Appuie sur espace ou clique sur le bouton</p>
          <p class="block--text">Bloque encore <strong><span id="countrecipe" data-week-target="countrecipe">5</span> recette(s)</strong> pour exporter ta liste de course</p>
          <span class="btn btn--primary btnrand" data-action="click->week#randomize">RandoMiser</span>
        </div>
    </div>
</div>
