<div class="wrapper plan-wrap">
  <!-- Header -->
  <div class="header">
    <h1>Vos recettes de la semaine</h1>
  </div>
  <!-- Filtres des menus -->
    <div class="tools">
      <span>Végétarien</span>
      <span>Vegan</span>
      <span>Sans gluten</span>
      <span>Thermomix</span>
    </div>
    <!-- Menu de la semaine -->
  <div class="plan-randomizer">
    <div class="row">
      <% days = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi'] %>
      <% @recipes.each_with_index do |recipe, index| %>
      <div class="col-12 col-md">
        <div class="day">
        <form>
          <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">How many people ?</div><br>
          <input type="number" id="number" value="4" />
          <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value"></div><br>
        </form>
          <h3 class="day-name"><%= days[index] %></h3>
          <%= render 'shared/card', recipe: recipe %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
    <div class="plan-buttons">
      <div class="row">
        <!-- Bouton Randomizer -->
        <div class="content-randomizer">
          <%= link_to "RandoMiser", plans_path, class: "btn btn--primary randomizer"%>
        </div>
        <!-- Bouton Export PDF -->
        <div class="wicked_pdf">
          <span class="btn btn--primary export">
          <%= link_to 'Export', export_path(@recipes, :format => :pdf), class: "btn btn--primary export" %></span>          
        </div>
      </div>
    <div>
</div>
