<div class="wrapper">

   <div class="plan-randomizer">
    <div class="row">
      <div class="col-12 col-md">
        <div class="day">
          <h3>Lundi</h3>
          <%= render 'shared/card' %>
        </div>
      </div>
      <div class="col-12 col-md">prout prout</div>
      <div class="col-12 col-md">prout prout</div>
      <div class="col-12 col-md">prout prout</div>
      <div class="col-12 col-md">prout prout</div>
    </div>
   </div>

</div>
