<div class="wrapper plan-wrap" data-controller="week">

      <div class="header">
        <h1>Vos recettes de la semaine</h1>
      </div>

      <div class="tools">
        <span>Végétarien</span>
        <span>Vegan</span>
        <span>Sans gluten</span>
        <span>Thermomix</span>
      </div>



    <div class="plan-randomizer">
      <div class="row">
        <% days = ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi'] %>
        <% @recipes.each_with_index do |recipe, index| %>
        <div class="col-12 col-md">
          <div class="day" data-controller="day" data-day-target="day" data-week-target="day" data-day-recipe-id-value="<%= recipe.id %>">
            <h3 class="day-name"><%= days[index] %></h3>
            <%= render 'shared/card', recipe: recipe %>
            <div class="day-action" data-action="click->day#toggleLock">
              <span class="btn btn--small unlock">Je bloque</span>
              <span class="btn btn--small lock">Bloqué</span>
          </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="content-randomizer">
      <span class="btn btn--primary randomizer" data-action="click->week#randomize">RandoMiser</span>
    </div>
</div>
