
██████   █████  ███    ██ ██████   ██████  ███    ███ ███████  █████  ██      
██   ██ ██   ██ ████   ██ ██   ██ ██    ██ ████  ████ ██      ██   ██ ██      
██████  ███████ ██ ██  ██ ██   ██ ██    ██ ██ ████ ██ █████   ███████ ██      
██   ██ ██   ██ ██  ██ ██ ██   ██ ██    ██ ██  ██  ██ ██      ██   ██ ██      
██   ██ ██   ██ ██   ████ ██████   ██████  ██      ██ ███████ ██   ██ ███████ 

<html>
  <head>
    <title>RandoMeal, l'ultime planificateur de menu pour votre semaine! </title>
    <meta name="description" content="RandoMeal. Planifie votre menu de la semaine pour manger.">
    <meta charset="utf-8">
    <!-- CSS in app>assets>stylesheets>components>_navbar.scss -->
    <link rel="stylesheet" href="app/assets/stylesheets/components/_navbar.scss">
    <!-- JS in app/javascript/packs/application.js -->
  </head>

  <body>
    <nav class="menu">
      <ul>
        <li><a href="#Accueil">Accueil</a></li>
        <li><a href="#Apropos">À propos</a></li>
        <li><a href="#Contact">Contact</a></li>
      </ul>
    </nav>

    <h1>[Welcome]</h1>

    <h2>[...]</h2>

    <h3>[...]</h3>

    <h4>[...]</h4>

    <h5>[...]</h5>

    <h6>[...]</h6>


  </body>
</html>
